spring:
  application:
    name: lab_multimedia
  datasource:
    url: jdbc:mysql://localhost:3306/lab_multimedia?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: pruebaspablo0705@gmail.com # CAMBIAR ESTO
    password: trcx fmlc blje oint # CAMBIAR ESTO
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true